/*
  Header
*/
.div-icons-header{
  margin-left: 60px;
}

.icon-header{
  display: flex;
  height: 25px;
  width: auto;
  padding-left: 10px;
}

.image-logo-without{
  width: 150px;
  height: auto;
}

/*
  Contact us
*/
.contactus{
  word-wrap: normal;
  background: #fff;
}

.contactus .contactus-div{
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;
}

.btn-send{
  background: #e65d5f;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

/*
  Associates
*/
.cards-associates{
  margin-bottom: 15px;
  align-items: center;
}

.card-logo-asociado{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 400px;
  width: 300px;  
}

.img-logo-asociado{
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 225px;
  width: 225px;
}

.card-body-asociado{
  margin-top: 10px;
  width:100%;
}

.card-title-asociado{
  text-align: center;
  font-weight: bold;
}

.datos-asociado{
  font-size: 11px;
  text-align: left;
}

.datos-asociado-titulo{
  font-weight: bold;
}